.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.charts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
    overflow: auto;
    padding: 20px;

}

.piechart {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.countchart {
    height: 300px;
    width: 200px;
    border: 3px solid #000;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: rgba(195, 181, 181, 0.4);
    backdrop-filter: blur(10px);
    text-align: center;
    gap: 30px;
}

.countcont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.licensecount {
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    .charts {
        flex-direction: column;
        gap: 20px;
    }


}

@media screen and (max-width: 450px) {
/* make charts smaller*/
    .piechart {
        height: 300px;
    }

    .countchart {
        height: 200px;
        width: 150px;
    }

    .licensecount {
        font-size: 15px;
    }

    .charts {
        flex-direction: column;
        gap: 20px;
    }

    .chart-container {
        height: 100%;
    }

    .countcont {
        gap: 10px;
    }

    .countchart {
        gap: 10px;
    }

    .countchart {
        height: 150px;
        width: 100px;
    }

    .licensecount {
        font-size: 10px;
    }

    .piechart {
        height: 200px;
    }

    .charts {
        flex-direction: column;
        gap: 20px;
    }




}