.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.settings__title {
  margin-bottom: 1rem;
}

.settings__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.settings__label {
  margin: 0.5rem 0;
  
}

.settings__input {
  margin-left: 0.5rem;
  padding: 10px;
  font-size: 16px;
  border-width: 2px;
  border-color: #1e6191;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 30px;
  box-shadow: 0px 0px 4px rgba(66, 66, 66, 0.56);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
}

.settings__button {
  margin: 0.5rem;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color:#79bbff;
  border-radius:20px;
  border:1px solid #84bbf3;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:16px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
}
.settings__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
    object-position: center;
}

.settings__button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.settings__button:active {
	position:relative;
	top:1px;
}

.settings__password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 15px;
}

.settings__container {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: center;
    gap: 15px;
    max-width: 50vw;
    text-align: center;
    border-radius: 20px;
    background: rgba(195, 181, 181, 0.4);
    backdrop-filter: blur(10px);
    padding: 1rem;
    border: 3px solid black;
}

@media screen and (max-width: 530px) {
    .settings__container {
        max-width: 90vw;
    }

    .settings__input {
        width: 100%;
    }

    .settings__button {
        width: 100%;
    }

    .settings__label {
        width: 100%;
    }

    .settings__form {
        width: 100%;
    }

    .settings__password {
        width: 100%;
    }
    
}
  
