.weather-rectangle {
    background: rgba(135, 206, 250, 0.3);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: center;
    min-height: 30vh;
  }
  
  .weather-rectangle:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
  }
  
  .forecast {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .weatherContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }

  .weatherSelect {
    min-width: 50vw;
  }

  /* * {
    border: 2px solid red;
  } */

  @media screen and (max-width: 1000px) {
    .forecast {
      flex-direction: column;
    }

    .weatherSelect {
      min-width: 80vw;
    }

    .weather-rectangle {
      min-height: 40vh;
    }

    .weatherContent {
      min-height: 40vh;
    }
    
  }